html,
body {
    height: 100%;
    font-size: 18px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.header {
    height: 100px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.5);
    /*position: fixed;*/
    /*top: 0;*/
    background: #fff;
    /*z-index: 5;*/
    /*transition: 0.5s;*/
}

.header .logo,
.header .navbar-nav,
.header .phones {
    display: inline-block;
    float: none;
}

.header .logo {
    height: 100px;
    width: 277px;
    float: left;
    margin-left: 15px;
    background: url('../img/logo.png') no-repeat left;
    background-size: contain;
    /*transition: 0.5s;*/
}

/*.sticky-wrapper {*/
/*transition: 0.5s;*/
/*background: #ffffff;*/
/*}*/

/*.is-sticky {*/
/*height: 50px;*/
/*}*/

/*.header.sticky .logo {*/
/*height: 50px;*/
/*background: url('../img/logo-small.png') no-repeat left;*/
/*}*/

/*.header.sticky {*/
/*height: 50px;*/
/*}*/

/*.header.sticky .navbar-nav {*/
/*margin-top: 0;*/
/*}*/

/*.header.sticky .phones {*/
/*padding: 0 30px 0 0;*/
/*font-size: 16px;*/
/*font-weight: normal;*/
/*line-height: 25px;*/
/*}*/

.header .navbar-nav {
    height: 50px;
    float: none;
    margin-top: 50px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s;
}

.header .navbar-nav a {
    color: #222222;
    line-height: 17px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none;
    border-bottom: 3px solid #777;
}

.nav > li > a.active {
    border-bottom: 3px solid #2c90cf;
}

.header .phones {
    float: right;
    padding: 24px 30px 0 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    transition: 0.5s;
}

.header .phones .fa {
    color: #2c90cf;
}

.site-index .intro {
    overflow: hidden;
    background: url('../img/pattern-black.jpg');
    color: #ffffff;
    padding-top: 150px;
    padding-bottom: 0;
}

.section-footer-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section-footer {
    height: 100px;
    width: 110%;
    background: #fff;
    transform: rotate(-2deg);
    position: relative;
    bottom: -50px;
}

.about-us, .laptop {
    float: left;
}

.about-us {
    width: 30%;
    height: 100%;
    margin-right: -5%;
    position: relative;
    z-index: 1;
}

.about-us h2 {
    font-weight: 200;
    font-size: 42px;
    margin: 0;
}

.about-us .subtitle {
    margin-top: 20px;
    font-size: 20px;
    color: #c8c8c8;
    font-weight: 200;
}

.years {
    height: 247px;
    width: 219px;
    background: url("../img/years.png") no-repeat;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    font-size: 84px;
    line-height: 1em;
    font-weight: bold;
    padding-top: 32px;
    margin: 20px auto;
}

.years .number {
    font-size: 120px;
    line-height: 0.6em;
}

.years-desc {
    color: #2c90cf;
    text-align: center;
    font-size: 44px;
    font-weight: 300;
    line-height: 1em;
}

.laptop {
    width: 75%;
    position: relative;
    z-index: 0;
}

section {
    padding: 50px 0;
}

section.gray {
    background: #e9eeef;
}

section .icon {
    font-size: 60px;
    color: #2c90cf;
    text-align: center;
}

section h2 {
    text-align: center;
    margin: 0 0 38px;
    font-weight: 300;
    font-size: 48px;
}

.column-2 {
    -moz-column-count: 2;
    -moz-column-gap: 6em;
    -webkit-column-count: 2;
    -webkit-column-gap: 6em;
    column-count: 2;
    column-gap: 6em;
}

.item {
    text-align: center;
}

.circle-graph {
    width: 30%;
    display: inline-block;
    overflow: hidden;
}

.circle-graph span {
    height: 100px;
    display: block;
}

.card-black .card-header {
    background: url('../img/pattern-black.jpg');
}

.card-green .card-header {
    background: #5e8738;
}

.card-blue .card-header {
    background: #2c90cf;
}

.card-red .card-header {
    background: #e5290e;
}

.card-md,
.card-sm {
    margin: 20px 15px;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.5);
    background: #ffffff;
}

.card-title {
    color: #fff;
    text-align: center;
    padding: 20px;
}

.card-header {
    position: relative;
}

.card-md .card-header {
    height: 150px;
}

.card-sm .card-header {
    height: 120px;
}

.card-avatar {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
}

.card-md .card-avatar {
    height: 160px;
    width: 160px;
    margin-left: -80px;
    bottom: -80px;
    border: 5px solid #fff;
}

.card-sm .card-avatar {
    height: 100px;
    width: 100px;
    margin-left: -50px;
    bottom: -50px;
    border: 3px solid #fff;
}

.card-avatar img {
    max-width: 100%;
    height: auto;
}

.card-body {
    overflow: hidden;
    text-align: center;
}

.card-md .card-body {
    padding: 90px 10px 10px;
}
.card-sm .card-body {
    padding: 60px 10px 10px;
}

.card-footer {
    overflow: hidden;
}

.card-footer button {
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #e0e1e1;
    color: #2c90cf;
    transition: 0.5s;
}

.card-footer button:hover {
    background: #2c90cf;
    color: #ffffff;
}

.footer {
    color: #d2d2d2;
    min-height: 260px;
    background: url('../img/pattern-black.jpg');
    padding: 20px 0;
}

