html,
body {
    height: 100%;
}

.site-index,
.site-production,
.site-contacts,
.site-news {
    font-size: 18px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

button.bars {
    display: none;
}

.header {
    height: 100px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.5);
    background: #fff;
}

.header .logo,
.header .navbar-nav,
.header .phones {
    display: inline-block;
    float: none;
}

.header .logo {
    height: 100px;
    width: 277px;
    float: left;
    margin-left: 15px;
    background: url('../img/logo.png') no-repeat left;
    background-size: contain;
}

.header .navbar-nav {
    height: 50px;
    float: none;
    margin-top: 50px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s;
}

.header .navbar-nav a {
    color: #222222;
    line-height: 17px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: none;
    border-bottom: 3px solid #777;
}

.nav > li > a.active {
    border-bottom: 3px solid #2c90cf;
}

.header .phones {
    float: right;
    padding: 24px 30px 0 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    transition: 0.5s;
}

.header .phones div {
    text-align: right;
    overflow: hidden;
}

.header .phones .fa {
    width: 40px;
    height: 22px;
    float: left;
    line-height: 30px;
    color: #2C90CF;
    text-align: center;
}

.site-index .intro {
    overflow: hidden;
    background: url('../img/pattern-black.jpg');
    color: #ffffff;
    padding-top: 84px;
    padding-bottom: 0;
}

.section-footer-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section-footer {
    height: 100px;
    width: 110%;
    background: #fff;
    transform: rotate(-2deg);
    position: relative;
    bottom: -50px;
}

.about-us, .laptop {
    float: left;
}

.about-us {
    width: 30%;
    height: 100%;
    margin-right: -5%;
    position: relative;
    z-index: 1;
}

.about-us h2 {
    font-weight: 200;
    font-size: 42px;
    margin: 0;
}

.about-us .subtitle {
    margin-top: 20px;
    font-size: 20px;
    color: #c8c8c8;
    font-weight: 200;
}

.years {
    height: 247px;
    width: 219px;
    background: url("../img/years.png") no-repeat;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    font-size: 84px;
    line-height: 1em;
    font-weight: bold;
    padding-top: 32px;
    margin: 20px auto;
}

.years .number {
    font-size: 120px;
    line-height: 0.6em;
}

.years-desc {
    color: #2c90cf;
    text-align: center;
    font-size: 44px;
    font-weight: 300;
    line-height: 1em;
}

.laptop {
    height: 475px;
    width: 855px;
    position: relative;
    z-index: 0;
    background: url('../img/laptop.png') center;
    background-size: contain;
    padding: 27px 101px 20px 112px;
}

.overlay {
    height: 390px;
    width: 642px;
    position: absolute;
    top: 26px;
    right: 100px;
    z-index: 1;
    background: url('../img/overlay.png');
}

.shine {
    background: url('../img/shine.png') no-repeat right top;
    background-size: contain;
    height: 100%;
    width: 656px;
    position: absolute;
    top: 0;
    right: 93px;
    z-index: 1;
}

section {
    padding: 50px 0;
}

section.gray {
    background: #e9eeef;
}

section .icon {
    width: 64px;
    height: 50px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.chat {
    background-image: url('../img/chat.png');
}

.factory {
    background-image: url('../img/factory.png');
}

.branches {
    background-image: url('../img/branches.png');
}

.people {
    background-image: url('../img/people.png');
}

.news {
    background-image: url('../img/news.png');
}

.book {
    background-image: url('../img/book.png');
}

.gear {
    background-image: url('../img/gear.png');
}

section h2 {
    text-align: center;
    margin: 0 0 38px;
    font-weight: 300;
    font-size: 48px;
}

.column-2 {
    -moz-column-count: 2;
    -moz-column-gap: 6em;
    -webkit-column-count: 2;
    -webkit-column-gap: 6em;
    column-count: 2;
    column-gap: 6em;
}

.item {
    text-align: center;
}

.circle-graph {
    width: 300px;
    display: inline-block;
    overflow: hidden;
}

.circle-graph span {
    height: 100px;
    display: block;
}

.card-black .card-header {
    background: url('../img/pattern-black.jpg');
}

.card-green .card-header {
    background: #5e8738;
}

.card-blue .card-header {
    background: #2c90cf;
}

.card-red .card-header {
    background: #e5290e;
}

.card-md,
.card-sm {
    width: 300px;
    margin: 20px 15px;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.5);
    background: #ffffff;
}

.card-title {
    color: #fff;
    text-align: center;
    padding: 20px;
}

.card-header {
    position: relative;
}

.card-md .card-header {
    height: 110px;
}

.card-sm .card-header {
    height: 120px;
}

.card-avatar {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
}

.card-md .card-avatar {
    height: 160px;
    width: 160px;
    margin-left: -80px;
    bottom: -80px;
    border: 5px solid #fff;
}

.card-sm .card-avatar {
    height: 100px;
    width: 100px;
    margin-left: -50px;
    bottom: -50px;
    border: 3px solid #fff;
}

.card-avatar img {
    max-width: 100%;
    height: auto;
}

.card-body {
    overflow: hidden;
    text-align: center;
}

.card-md .card-body {
    padding: 90px 10px 10px;
    height: 200px;
}

.card-sm .card-body {
    padding: 60px 10px 10px;
    height: 220px;
}

.card-footer {
    overflow: hidden;
}

.card-footer button {
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #e0e1e1;
    color: #2c90cf;
    transition: 0.5s;
}

.card-footer button:hover {
    background: #2c90cf;
    color: #ffffff;
}

a.read-all {
    text-decoration: none;
}

.read-all {
    display: block;
    margin: 50px auto 0;
    width: 300px;
    text-align: center;
    padding: 10px;
    transition: 0.5s;
    background: none;
}

.read-all.grey {
    border: 2px solid #888;
    color: #888;
}

.read-all.grey:hover {
    background: #888;
    color: #ffffff;
}

.read-all.blue {
    border: 2px solid #2c90cf;
    color: #2c90cf;
}

.read-all.blue:hover {
    background: #2c90cf;
    color: #ffffff;
}

.partners img:hover {
    opacity: 0.5;
}

.partners .slick-slide {
    margin: 0 20px;
}

.institutes .form-control {
    background: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 300;
}

.institutes input.form-control {
    border: none;
    border-bottom: 1px solid #4499d2;
}

.institutes textarea.form-control {
    border: 1px solid #4499d2;
}

.institutes .form-control,
.institutes .has-success .form-control,
.institutes .has-error .form-control {
    box-shadow: none;
}

.institutes .form-control::-webkit-input-placeholder {
    color: #4499d2;
}

.institutes .form-control::-moz-placeholder {
    color: #4499d2;
}

/* Firefox 19+ */
.institutes .form-control:-moz-placeholder {
    color: #4499d2;
}

/* Firefox 18- */
.institutes .form-control:-ms-input-placeholder {
    color: #4499d2;
}

.news-title {
    margin-bottom: 10px;
    font-weight: 500;
}

.news-text {
    text-align: justify;
}

.feedback-result {
    text-align: center;
    border: 1px solid #888;
    padding: 20px;
    background: #E9EEEF;
    color: #888;
}

.footer {
    color: #777777;
    min-height: 260px;
    background: url('../img/pattern-black.jpg');
    padding: 40px 0 10px;
    font-size: 16px;
}

.footer p {
    font-size: 14px;
}

.footer-logo {
    height: 90px;
    width: 183px;
    background: url('../img/logo-footer.png');
    margin-top: 20px;
}

.footer .nav li > a {
    color: #d2d2d2;
}

.footer .nav li > a:hover {
    color: #ffffff;
    border: none;
}

.footer-time,
.footer-phone,
.footer-email {
    padding-left: 30px;
    margin-bottom: 30px;
}

.footer-time {
    background: url('../img/icon-footer-clock.png') no-repeat;
}

.footer-phone {
    background: url('../img/icon-footer-phone.png') no-repeat;
}

.footer-email {
    background: url('../img/icon-footer-plane.png') no-repeat;
}

.footer-email a {
    color: #d2d2d2;
    text-decoration: none;
}

.footer-email a:hover {
    color: #ffffff;
    text-decoration: none;
}

.plum {
    display: inline-block;
    height: 28px;
    padding-left: 70px;
    padding-top: 5px;
    background: url('../img/logo-plum.png') no-repeat;
    color: #555;
    text-decoration: none;
}

.plum:hover {
    text-decoration: none;
    color: #999999;
}

.site-production table {
    font-size: 12px;
}

.modal-body img {
    max-width: 100%;
}

.spinner-box {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 20px 0;
}

.spinner {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 3px solid #777777;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 700ms infinite linear;
}

@keyframes spin {
    100%{ transform: rotate(360deg); }
}

@media (max-width: 1200px) {
    .laptop {
        height: 390px;
        width: 700px;
        padding: 24px 90px 20px 100px;
    }
    .overlay {
        height: 306px;
        width: 510px;
        top: 24px;
        right: 90px;
    }
    .shine {
        top: 3px;
        right: 75px;
        width: 540px;
    }
    .site-index .intro {
        padding-top: 70px;
    }

    .about-us h2 {
        font-size: 36px;
    }

    .about-us .subtitle {
        font-size: 18px;
    }

    .years {
        height: 180px;
        padding-top: 24px;
        font-size: 64px;
        background-size: contain;
        background-position: center;
    }

    .years .number {
        font-size: 86px;
    }

    .years-desc {
        font-size: 36px;
    }

    .column-2 {
        -moz-column-gap: 3em;
        -webkit-column-gap: 3em;
        column-gap: 3em;
    }
}

@media (max-width: 992px) {
    .laptop {
        height: 300px;
        width: 540px;
        padding: 20px 70px 20px 80px;
    }
    .overlay {
        height: 245px;
        width: 400px;
        top: 17px;
        right: 65px;
    }
    .shine {
        top: 2px;
        right: 59px;
        width: 412px;
    }
    .header {
        height: 50px;
    }

    .header .navbar-nav {
        margin-top: 0;
    }

    .header .phones {
        padding: 3px 10px 0 0;
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
    }

    .header .phones .fa {
        line-height: 22px;
    }

    .header .logo {
        height: 50px;
    }

    .site-index .intro {
        padding-top: 40px;
    }

    .about-us h2 {
        font-size: 28px;
    }

    .about-us .subtitle {
        font-size: 16px;
    }

    .years {
        height: 160px;
        padding-top: 24px;
        font-size: 54px;
        margin: 10px auto;
        background-size: contain;
        background-position: center;
    }

    .years .number {
        font-size: 78px;
    }

    .years-desc {
        font-size: 28px;
    }

    .column-2 {
        -moz-column-gap: 3em;
        -webkit-column-gap: 3em;
        column-gap: 3em;
    }

    .footer-logo {
        height: 90px;
        width: 183px;
        background: url('../img/logo-footer.png');
        margin: 0 auto;
    }

    .footer ul.nav {
        text-align: center;
    }

    .footer-time,
    .footer-phone,
    .footer-email {
        margin: 0 auto 30px;
        width: 250px;
        text-align: center;
    }

    .slick-prev,
    .slick-next {
        position: fixed;
        top: -100px;
    }

}

@media (max-width: 900px) {
    .header .logo,
    .header .phones {
        display: none;
    }
}

@media (max-width: 768px) {
    button.bars {
        width: 100%;
        height: 50px;
        background: none;
        font-size: 28px;
        display: block;
        border: none;
    }

    .header .navbar-nav {
        background: #333;
        height: auto;
        width: 100%;
        z-index: 5;
        position: relative;
    }
    .header .navbar-nav.collapse {
        display: none;
    }
    .header .navbar-nav li a {
        color: #fff;
        border: none;
        padding: 20px;
    }

    .laptop {
        display: none;
    }

    .about-us {
        width: 100%;
    }

    .subtitle {
        text-align: center;
    }

    .navbar-nav {
        margin: 0;
    }

    section h2 {
        text-align: center;
        margin: 0 0 38px;
        font-weight: 300;
        font-size: 40px;
    }

    .column-2 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

