html,
body {
    height: 100%;
}

a {
    color: #cd120b;
    text-decoration: none;
}

a:hover, a:focus {
    color: #a43e35;
    text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: #cd120b;
    border-color: #a43e35;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    color: #fff;
    background-color: #a8100b;
    border-color: #a43e35;
}

.page-view h3 {
    background: #c61117;
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    padding: 10px;
}

.site-index,
.site-production,
.site-contacts,
.site-news {
    font-size: 18px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 20px auto;
    justify-content: center;
}

.product {
    display: block;
    overflow: hidden;
    width: 300px;
    margin: 20px;
}

.product:hover {
    opacity: 0.5;
}

.product span {
    background: #c71118;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 10px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #c61117;
    border-color: #a71114;
}

.pagination > li > a, .pagination > li > span {
    color: #c61418;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #b91216;
}

button.bars {
    display: none;
}

h1 {
    text-align: center;
    margin: 30px 0;
    font-weight: 300;
    font-size: 48px;
}

.production {
    font-size: 14px;
}

.page-view {
    font-size: 16px;
    padding: 30px 0;
}

.header-wrapper {
    height: 150px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.5);
    background: #fff;
    z-index: 1;
    position: relative;
}

.header {
    height: 110px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.header .certificates {
    height: 110px;
    width: 200px;
}

.header .certificates .esr,
.header .certificates .tuv,
.header .certificates .igc {
    width: 60px;
    height: 60px;
    border: none;
    margin-top: 25px;
    display: inline-block;
}

.header .certificates .esr:focus,
.header .certificates .tuv:focus,
.header .certificates .igc:focus {
    outline: none;
}

.header .certificates .esr {
    background: url('../img/cert-esr.png');
}

.header .certificates .igc {
    background: url('../img/cert-igc.png');
}

.header .certificates .tuv {
    background: url('../img/cert-tuv.png');
}

.header .title {
    background: url('../img/header-logo.png') no-repeat left;
    padding-left: 130px;
    padding-top: 15px;
    height: 110px;
    width: 700px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -350px;
}

.header .title .ooo {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.header .title .name {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}

.header .phones {
    height: 110px;
    float: right;
    padding: 24px 30px 0 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    transition: 0.5s;
}

.header .phones div {
    text-align: right;
    overflow: hidden;
}

.header .phones .fa {
    width: 40px;
    height: 22px;
    float: left;
    line-height: 30px;
    color: #c61117;
    text-align: center;
}

nav.navbar {
    display: flex;
    border-radius: 0;
    background: #c61217;
    border: none;
    margin: 0;
}

nav.navbar .nav > li > a {
    color: #ffffff;
    font-size: 18px;
    transition: 0.5s;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: #8c3029;
    color: #ffffff;
}

.nav > li > a.active {
    border-bottom: 3px solid #8c3029;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #8c3029;
    border-color: #8c3029;
}


.site-index .title {
    font-size: 50px;
    font-weight: bold;
}

.site-index .subtitle {
    font-weight: normal;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 0;
    font-family: 'Myriad Pro Condensed', "Helvetica Neue", serif;
}

.site-index .description {
    font-weight: 600;
    font-size: 24px;
    margin: 30px 0;
}

.years {
    background: #c51116;
    padding: 6px 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}

#carousel {
    color: #ffffff;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: RGBA(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.carousel-text {
    top: 100px;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-indicators li {
    background-color: #ffffff;
}

.carousel-indicators .active {
    border-color: #c51116;
    background-color: #c51116;
}

.carousel-inner > .item > img {
    margin-top: 0;
    height: 700px;
    object-fit: cover;
    width: 100%;
}

section.about .text-justify {
    font-size: 20px;
}

section.about .notice {
    background: #e6ecec;
    padding: 20px;
    text-align: center;
}

.section-footer-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section-footer {
    height: 100px;
    width: 110%;
    background: #fff;
    transform: rotate(-2deg);
    position: relative;
    bottom: -50px;
}

.about-us, .laptop {
    float: left;
}

.about-us {
    width: 30%;
    height: 100%;
    margin-right: -5%;
    position: relative;
    z-index: 1;
}

.about-us h2 {
    font-weight: 200;
    font-size: 42px;
    margin: 0;
    color: #000;
    text-shadow: 1px 1px 1px #EFEFEF;
}

.about-us .subtitle {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 1px #000000;
}

.site-production section,
.site-contacts section,
.site-news section,
.site-index section {
    padding: 50px 0;
}

.site-production section.grey,
.site-contacts section.grey,
.site-index section.gray {
    background: #e9eeef;
}

section .icon {
    font-size: 50px;
    color: #cd150c;
    text-align: center;
}

.chat {
    background-image: url('../img/chat.png');
}

.factory {
    background-image: url('../img/factory.png');
}

.branches {
    background-image: url('../img/branches.png');
}

.people {
    background-image: url('../img/people.png');
}

.book {
    background-image: url('../img/book.png');
}

.gear {
    background-image: url('../img/gear.png');
}

.contacts {
    background-image: url('../img/contacts.png');
}

section h2 {
    text-align: center;
    margin: 0 0 38px;
    font-weight: 300;
    font-size: 48px;
}

.column-2 {
    -moz-column-count: 2;
    -moz-column-gap: 6em;
    -webkit-column-count: 2;
    -webkit-column-gap: 6em;
    column-count: 2;
    column-gap: 6em;
}

.item {
    text-align: center;
}

.circle-graph {
    width: 300px;
    display: inline-block;
    overflow: hidden;
}

.circle-graph span {
    height: 100px;
    display: block;
}

.card-black .card-header {
    background: url('../img/pattern-black.jpg');
}

.card-style-1 .card-header {
    background: #3e5528;
}

.card-style-2 .card-header {
    background: #1b6c62;
}

.card-style-3 .card-header {
    background: #185378;
}

.card-style-4 .card-header {
    background: #957401;
}

.card-style-5 .card-header {
    background: #2c90cf;
    background: -moz-linear-gradient(-45deg, #2c90cf 0%, #2c90cf 33%, #1a1a18 33%, #1a1a18 67%, #e5290e 67%, #e5290e 100%);
    background: -webkit-linear-gradient(-45deg, #2c90cf 0%, #2c90cf 33%, #1a1a18 33%, #1a1a18 67%, #e5290e 67%, #e5290e 100%);
    background: linear-gradient(135deg, #2c90cf 0%, #2c90cf 33%, #1a1a18 33%, #1a1a18 67%, #e5290e 67%, #e5290e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c90cf', endColorstr='#e5290e', GradientType=1);

}

.card-md,
.card-sm {
    width: 300px;
    margin: 20px 15px;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.5);
    background: #ffffff;
}

.card-title {
    color: #fff;
    text-align: center;
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #c61117;
}

.card-header {
    position: relative;
}

.card-md .card-header {
    height: 110px;
}

.card-sm .card-header {
    height: 70px;
    overflow: hidden;
    position: relative;

}

.card-body {
    overflow: hidden;
}

.card-md .card-body {
    padding: 90px 10px 10px;
    max-height: 300px;
    min-height: 300px;
}

.card-sm .card-body {
    padding: 10px;
    max-height: 300px;
    min-height: 300px;
}

.card-footer {
    overflow: hidden;
}

.card-footer a {
    background: none;
    border: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #e0e1e1;
    color: #c51116;
    transition: 0.5s;
    display: block;
    text-decoration: none;
}

.card-footer a:hover {
    background: #c51116;
    color: #ffffff;
}

a.read-all {
    text-decoration: none;
}

.read-all {
    display: block;
    margin: 50px auto 0;
    width: 300px;
    text-align: center;
    padding: 10px;
    transition: 0.5s;
    background: none;
}

.read-all.grey {
    border: 2px solid #888;
    color: #888;
}

.read-all.grey:hover {
    background: #888;
    color: #ffffff;
}

.read-all.blue {
    border: 2px solid #c51116;
    color: #c51116;
}

.read-all.blue:hover {
    background: #c51116;
    color: #ffffff;
}

.partners img:hover {
    opacity: 0.5;
}

.partners .slick-slide {
    margin: 0 20px;
}

.slick-slide .card-body {
    transition: 0.5s;
}

.slick-slide .card-body:hover {
    max-height: 800px;
}

.institutes .form-control {
    background: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 300;
}

.institutes input.form-control {
    border: none;
    border-bottom: 1px solid #c51116;
}

.institutes textarea.form-control {
    border: 1px solid #c51116;
}

.institutes .form-control,
.institutes .has-success .form-control,
.institutes .has-error .form-control {
    box-shadow: none;
}

.institutes .form-control::-webkit-input-placeholder {
    color: #c51116;
}

.institutes .form-control::-moz-placeholder {
    color: #c51116;
}

/* Firefox 19+ */
.institutes .form-control:-moz-placeholder {
    color: #c51116;
}

/* Firefox 18- */
.institutes .form-control:-ms-input-placeholder {
    color: #c51116;
}

.history-box {
    position: relative;
    border: 1px solid #cecece;
}

.history-image {
    position: relative;
    margin: 5px;
}

.history-number {
    position: absolute;
    height: 119px;
    width: 120px;
    left: 0;
    top: 0;
    background: #000;
    text-align: center;
    line-height: 120px;
    font-size: 70px;
    font-weight: bold;
    color: #c51116;
}

.history-title {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 40px;
    padding: 0 0 0 120px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
}

.history-body {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 0 10px 10px 130px;
    overflow: hidden;
    height: 110px;
    text-align: center;
}

.history-text {
    text-align: justify;
    position: absolute;
    bottom: 0;
    left: 0;
    background: RGBA(0, 0, 0, 0.5);
    color: #fff;
    z-index: 2;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    height: 120px;
}

.feedback-result {
    text-align: center;
    border: 1px solid #888;
    padding: 20px;
    background: #E9EEEF;
    color: #888;
}

.footer {
    color: #ffffff;
    min-height: 260px;
    background: url('../img/pattern-black.jpg');
    padding: 0;
    font-size: 16px;
}

.footer .contacts {
    padding: 50px 0;
    background: #c61217;
    color: #fff;
    min-height: 150px;
}

.footer .copyrights {
    padding: 20px 0;
    background: #242526;
    color: #fff;
}

.footer p {
    font-size: 16px;
}

.footer-logo {
    height: 125px;
    width: 161px;
    background: url('../img/logo-footer.png');
}

.footer .nav li > a {
    color: #d2d2d2;
}

.footer .nav li > a:hover {
    color: #ffffff;
    border: none;
}

.footer .nav > li > a:hover,
.footer .nav > li > a:focus {
    background: none;
}

.footer-contacts {
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer .fa {
    color: #ffffff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #999999;
}

.plum {
    display: inline-block;
    height: 28px;
    padding-left: 70px;
    padding-top: 5px;
    background: url('../img/logo-plum.png') no-repeat;
    color: #555;
    text-decoration: none;
}

.site-production table {
    font-size: 14px;
}

.site-production .table-bordered > thead > tr > th,
.site-production .table-bordered > tbody > tr > th,
.site-production .table-bordered > tfoot > tr > th,
.site-production .table-bordered > thead > tr > td,
.site-production .table-bordered > tbody > tr > td,
.site-production .table-bordered > tfoot > tr > td {
    border: 1px solid #777777;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    overflow: hidden;
    font-weight: 300;
    font-size: 16px;
}

.modal-body img {
    width: 280px;
    display: inline-block;
    border: 1px solid #cecece;
    padding: 1px;
    margin: 3px;
}

.modal-header span {
    text-align: center;
    display: block;
    font-size: 22px;
}

.modal-header .close {
    font-size: 32px;
    font-weight: 300;
}

.spinner-box {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 20px 0;
}

.spinner {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 3px solid #777777;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 700ms infinite linear;
}

.site-production .table > tbody > tr > th {
    background: #c51116;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.site-production .table .btn-xs {
    margin-bottom: 5px;
}

ul.news-wrapper {
    padding: 0;
}

li.news-item {
    list-style: none;
    position: relative;
}

.news-title {
    font-weight: bold;
}

.news-date {
    color: #777777;
    font-size: 14px;
    text-align: right;
    font-style: italic;
}

.news-body {
    text-align: justify;
}

.news-body img.img-thumbnail {
    max-width: 230px;
    margin: 5px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .laptop {
        height: 390px;
        width: 700px;
        padding: 24px 90px 20px 100px;
    }

    .shine {
        top: 3px;
        right: 75px;
        width: 296px;
    }

    .header .title {
        width: 530px;
        margin-left: -300px;
        padding-top: 30px;
    }

    .header .title .ooo {
        font-size: 18px;
    }

    .header .title .name {
        font-size: 22px;
    }

    .site-index .intro {
        padding-top: 70px;
    }

    .about-us h2 {
        font-size: 36px;
    }

    .about-us .subtitle {
        font-size: 18px;
    }

    .years {
        height: 135px;
        padding-top: 24px;
        font-size: 64px;
        background-size: contain;
        background-position: center;
    }

    .years .number {
        font-size: 86px;
    }

    .years-desc {
        font-size: 36px;
    }

    .column-2 {
        -moz-column-gap: 3em;
        -webkit-column-gap: 3em;
        column-gap: 3em;
    }
}

@media (max-width: 992px) {
    .laptop {
        height: 300px;
        width: 540px;
        padding: 20px 70px 20px 80px;
    }

    .shine {
        top: 2px;
        right: 59px;
        width: 296px;
    }

    .header-wrapper {

    }

    .header-wrapper .navbar-nav {
        margin-top: 0;
    }

    .header-wrapper .phones {
        padding: 35px 30px 0 0;
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;
    }

    .header-wrapper .phones .fa {
        line-height: 22px;
    }

    .header-wrapper .logo {
        height: 50px;
    }

    .site-index .intro {
        padding-top: 40px;
    }

    .about-us h2 {
        font-size: 28px;
    }

    .about-us .subtitle {
        font-size: 16px;
    }

    .years {
        height: 160px;
        padding-top: 24px;
        font-size: 54px;
        margin: 10px auto;
        background-size: contain;
        background-position: center;
    }

    .years .number {
        font-size: 78px;
    }

    .years-desc {
        font-size: 28px;
    }

    .column-2 {
        -moz-column-gap: 3em;
        -webkit-column-gap: 3em;
        column-gap: 3em;
    }

    .footer-logo {
        margin: 0 auto;
    }

    .footer ul.nav {
        text-align: center;
    }

    .footer-time,
    .footer-phone,
    .footer-email {
        margin: 0 auto 30px;
        width: 250px;
        text-align: center;
    }

    .slick-prev,
    .slick-next {
        position: fixed;
        top: -100px;
    }

}

@media (max-width: 900px) {
    .crest-l,
    .crest-r,
    .header-wrapper .certificates,
    .header-wrapper .phones {
        display: none;
    }

    .slick-prev,
    .slick-next {
        position: fixed;
        top: -100px;
    }
}

@media (max-width: 768px) {
    button.bars {
        width: 100%;
        height: 40px;
        background: none;
        font-size: 28px;
        display: block;
        border: none;
    }

    button.bars:focus {
        outline: none;
    }

    .header .title {
        background: none;
        padding: 15px 5px 5px;
        width: 100%;
        left: 0;
        margin: 0;
    }

    .header .title .ooo {
        font-size: 16px;
    }

    .header .title .name {
        font-size: 16px;
    }

    .site-index {
        position: relative;
        z-index: 0;
    }

    .about-us h2 {
        font-size: 36px;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
    }

    .about-us .subtitle {
        font-size: 22px;
    }

    .years {
        height: 120px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
    }

    .header-wrapper .navbar-nav {
        background: #333;
        height: auto;
        width: 100%;
        z-index: 5;
        position: relative;
    }

    .header-wrapper .navbar-nav.collapse {
        display: none;
    }

    .header-wrapper .navbar-nav li a {
        color: #fff;
        border: none;
        padding: 20px;
    }

    .laptop {
        display: none;
    }

    .about-us {
        width: 100%;
    }

    .subtitle {
        text-align: center;
    }

    .navbar-nav {
        margin: 0;
    }

    section h2 {
        text-align: center;
        margin: 0 0 38px;
        font-weight: 300;
        font-size: 40px;
    }

    .column-2 {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.footer {
    position: relative;
}

/*.header {*/
/*background: url(/img/ny2018-1.jpg);*/
/*color: #fff;*/
/*}*/

/*.footer:before {*/
/*content: '';*/
/*background: url(/img/newyear.png);*/
/*width: 100%;*/
/*height: 78px;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*}*/